Body {
  background-color: #808080;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  background-color: #31343a;
  text-align: center;
  margin: 100px;
}

.Board {
  border-color: #653818;
  border-style: solid;
  border-width: 10px;
  background-image: url("assets\cork-board.jpg");
  justify-content: space-around;
  display: flex;
  margin: 100px;
}

.Event {
  margin: auto;
  min-height: 100px;
}

.img {
  height: 150px;
  margin: 50px;
  border-style: dashed;
  border-width: 5px;
}

.info-container {
  border-style: dashed;
  border-width: 5px;
  text-align: center;
  padding: 10px;
}

.image-container {
  background-color: #ff7eb9;
}

.btn {
  margin: 10px;
  width: 150px;
  height: 50px;
}

h1 {
  text-align: center;
  font-size: 100px;
  color: #2e4880;
  text-decoration: underline;
}

h3 {
  color: #cfcfc4;
}

.event-flex-containerpink {
  display: flex;
  min-width: 200px;
  min-height: 50vh;
  background-color: #ff65a3;
  justify-content: space-between;
  padding: 5px;
  margin: 50px;
}

.image-containerpink {
  background-color: #ff7eb9;
}

.event-flex-containerblue {
  display: flex;
  min-width: 300px;
  min-height: 50vh;
  background-color: #bca0ff;
  justify-content: space-between;
  padding: 5px;
  margin: 50px;
}

.image-containerblue {
  background-color: #b1d3f6;
}

.event-flex-containergreen {
  display: flex;
  min-width: 300px;
  min-height: 50vh;
  background-color: #aec81c;
  justify-content: space-between;
  padding: 5px;
  margin: 50px;
}

.image-containergreen {
  background-color: #e6f2a2;
}
